In [1]:
import sqlite3

# 定義table名稱、table欄位有哪些，與欄位型態設定

In [2]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
sql = '''Create table exam1_score(            
        department text,
        grade int,
        id text,
        name text,
        gender text,
        score int)'''
conn.execute(sql)                             # 執行SQL指令，建立exam1_score table，並指明有哪些欄位變數
conn.close()                                  # 關閉資料庫連線

# 一次處理一筆的方式更新資料庫內的表單內容

In [3]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
print("請輸入class資料庫的exam1_score表單資料")
while True:
    new_department = input("請輸入科系: ")
    new_grade = int(input("請輸入年級: "))
    new_id = input("請輸入學號: ")
    new_name = input("請輸入姓名: ")
    new_gender = input("請輸入性別(男/女): ")
    new_score = int(input("請輸入分數: "))
    # 將每筆紀錄處理成tuple，然後將SQL語法處理成字串，最後將tuple與字串當作execute()方法的參數
    x = (new_department, new_grade, new_id, new_name, new_gender, new_score)
    sql = '''insert into exam1_score values(?,?,?,?,?,?)'''  # ?個數隨欄位數量改變
    conn.execute(sql, x)
    conn.commit()                                            # 更新資料庫
    again = input("繼續(y/n)?")
    if again.lower() == "n":
        break
conn.close()                                                 # 關閉資料庫連線

請輸入class資料庫的exam1_score表單資料
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910201
請輸入姓名: 馬小明
請輸入性別(男/女): 男
請輸入分數: 84
繼續(y/n)?y
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910202
請輸入姓名: 葉大雄
請輸入性別(男/女): 男
請輸入分數: 90
繼續(y/n)?y
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910203
請輸入姓名: 韓小瑩
請輸入性別(男/女): 女
請輸入分數: 58
繼續(y/n)?y
請輸入科系: 物理系
請輸入年級: 4
請輸入學號: 810216
請輸入姓名: 張阿生
請輸入性別(男/女): 男
請輸入分數: 62
繼續(y/n)?y
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910204
請輸入姓名: 段阿朱
請輸入性別(男/女): 女
請輸入分數: 100
繼續(y/n)?y
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910205
請輸入姓名: 谷川夫
請輸入性別(男/女): 男
請輸入分數: 55
繼續(y/n)?y
請輸入科系: 數學系
請輸入年級: 3
請輸入學號: 910206
請輸入姓名: 源靜香
請輸入性別(男/女): 女
請輸入分數: 96
繼續(y/n)?y
請輸入科系: 化學系
請輸入年級: 4
請輸入學號: 710124
請輸入姓名: 武大郎
請輸入性別(男/女): 男
請輸入分數: 51
繼續(y/n)?n

# 查詢表單的SQL語法是SELECT，以下程式為查詢exam1_score表單的所有內容

In [4]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
records = conn.execute("SELECT * from exam1_score")
for i, j in enumerate(records):
    print(i + 1, "科系--->%s\n年級--->%d\n學號--->%s\n姓名--->%s\n性別--->%s\n分數--->%d" % (j[0], j[1], j[2], j[3], j[4], j[5]))
conn.close()                                  # 關閉資料庫連線

1 科系--->數學系
年級--->3
學號--->910201
姓名--->馬小明
性別--->男
分數--->84
2 科系--->數學系
年級--->3
學號--->910202
姓名--->葉大雄
性別--->男
分數--->90
3 科系--->數學系
年級--->3
學號--->910203
姓名--->韓小瑩
性別--->女
分數--->58
4 科系--->物理系
年級--->4
學號--->810216
姓名--->張阿生
性別--->男
分數--->62
5 科系--->數學系
年級--->3
學號--->910204
姓名--->段阿朱
性別--->女
分數--->100
6 科系--->數學系
年級--->3
學號--->910205
姓名--->谷川夫
性別--->男
分數--->55
7 科系--->數學系
年級--->3
學號--->910206
姓名--->源靜香
性別--->女
分數--->96
8 科系--->化學系
年級--->4
學號--->710124
姓名--->武大郎
性別--->男
分數--->51

# 以tuple型態的方式查詢exam1_score表單的所有內容

In [5]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
records = conn.execute("SELECT * from exam1_score")
all_exam1_score = records.fetchall()          # 將選取出的結果轉成tuple
for i, j in enumerate(all_exam1_score):
    print(i + 1, j)
conn.close()                                  # 關閉資料庫連線

1 ('數學系', 3, '910201', '馬小明', '男', 84)
2 ('數學系', 3, '910202', '葉大雄', '男', 90)
3 ('數學系', 3, '910203', '韓小瑩', '女', 58)
4 ('物理系', 4, '810216', '張阿生', '男', 62)
5 ('數學系', 3, '910204', '段阿朱', '女', 100)
6 ('數學系', 3, '910205', '谷川夫', '男', 55)
7 ('數學系', 3, '910206', '源靜香', '女', 96)
8 ('化學系', 4, '710124', '武大郎', '男', 51)

# 只想列出部分欄位資料，使用SELECT時，可以直接列出欄位名稱取代"*"

In [6]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
records = conn.execute("SELECT name from exam1_score")
all_exam1_score = records.fetchall()          # 將選取出的結果轉成tuple
for i, j in enumerate(all_exam1_score):
    print(i + 1, j)
conn.close()                                  # 關閉資料庫連線

1 ('馬小明',)
2 ('葉大雄',)
3 ('韓小瑩',)
4 ('張阿生',)
5 ('段阿朱',)
6 ('谷川夫',)
7 ('源靜香',)
8 ('武大郎',)

# 只想列出部分欄位資料，使用SELECT時，可以直接列出欄位名稱取代"*"

In [7]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
records = conn.execute("SELECT name, gender, score from exam1_score")
all_exam1_score = records.fetchall()          # 將選取出的結果轉成tuple
for i, j in enumerate(all_exam1_score):
    print(i + 1, j)
conn.close()                                  # 關閉資料庫連線

1 ('馬小明', '男', 84)
2 ('葉大雄', '男', 90)
3 ('韓小瑩', '女', 58)
4 ('張阿生', '男', 62)
5 ('段阿朱', '女', 100)
6 ('谷川夫', '男', 55)
7 ('源靜香', '女', 96)
8 ('武大郎', '男', 51)

# 想要查詢符合篩選條件的表單內容，SQL語法如下，SELECT... from... where...

In [8]:
conn = sqlite3.connect("D:/SQLite/class.db")  # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
sql = '''SELECT name, gender
        from exam1_score
        where score < 60'''
records = conn.execute(sql)
record = records.fetchall()                   # 將選取出的結果轉成tuple
print('不及格同學的部分資訊:')
for i, j in enumerate(record):
    print(i + 1, j)
conn.close()                                  # 關閉資料庫連線

不及格同學的部分資訊:
1 ('韓小瑩', '女')
2 ('谷川夫', '男')
3 ('武大郎', '男')

# 更新現有的表單內容，SQL語法如下，UPDATE 表單名稱 set 欄位 新內容 where 標明哪一筆資料，完成後務必記得commit()更新資料庫

In [9]:
conn = sqlite3.connect("D:/SQLite/class.db")          # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
sql = '''UPDATE exam1_score
        set  department = "生物系"
        where name = "韓小瑩"'''
records = conn.execute(sql)
conn.commit()                                         # 更新資料庫
records = conn.execute("SELECT * from exam1_score")
all_exam1_score = records.fetchall()                  # 將選取出的結果轉成tuple
for i, j in enumerate(all_exam1_score):
    print(i + 1, j)
conn.close()                                          # 關閉資料庫連線

1 ('數學系', 3, '910201', '馬小明', '男', 84)
2 ('數學系', 3, '910202', '葉大雄', '男', 90)
3 ('生物系', 3, '910203', '韓小瑩', '女', 58)
4 ('物理系', 4, '810216', '張阿生', '男', 62)
5 ('數學系', 3, '910204', '段阿朱', '女', 100)
6 ('數學系', 3, '910205', '谷川夫', '男', 55)
7 ('數學系', 3, '910206', '源靜香', '女', 96)
8 ('化學系', 4, '710124', '武大郎', '男', 51)

# 根據現有的表單內容，設定篩選條件，刪除某筆資料，SQL語法如下 DELETE from 表單名稱 where 標明哪一筆資料

In [10]:
conn = sqlite3.connect("D:/SQLite/class.db")          # 資料庫連線(連線到class.db，該路徑上若不存在，則會自行建一個database)
# sql 是字串，如果要刪除的id以變數儲存，處理方式應如下
# sql = '''DELETE from exam1_score where id = {}'''.format(id的變數名稱)
sql = '''DELETE
    from exam1_score
    where id = 910202'''
records = conn.execute(sql)
conn.commit()                                         # 更新資料庫
records = conn.execute("SELECT * from exam1_score")
all_exam1_score = records.fetchall()                  # 將選取出的結果轉成tuple
for i, j in enumerate(all_exam1_score):
    print(i + 1, j)
conn.close()                                          # 關閉資料庫連線

1 ('數學系', 3, '910201', '馬小明', '男', 84)
2 ('生物系', 3, '910203', '韓小瑩', '女', 58)
3 ('物理系', 4, '810216', '張阿生', '男', 62)
4 ('數學系', 3, '910204', '段阿朱', '女', 100)
5 ('數學系', 3, '910205', '谷川夫', '男', 55)
6 ('數學系', 3, '910206', '源靜香', '女', 96)
7 ('化學系', 4, '710124', '武大郎', '男', 51)